.content {
  color: white;
}
.gridster ul {
    min-height: 120px;
}
.gridster .gs-w {
  background: #61A9CF;
  cursor: move;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gridster .player {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: #BBB;
}
.gridster .gs-w.try {
  /*background-image: url(../img/sprite.png);*/
  background-repeat: no-repeat;
  background-position: 37px -169px;
}
.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: red !important;
}
.gridster ul {
  background-color: #EFEFEF;
  list-style-type: none;
}
.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  list-style: none;
}
.gridster-box {
  position: relative;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 100%;
  padding:8px;
}

.handle-close{
    position: absolute;
    width: 16px;
    height: 16px;
    right:8px;
    top:8px;
    color:gray;
    z-index: 100;
    text-decoration:none;
}
.handle-close:hover{
    text-decoration:none;
    color: black;
}

.board-editor{
    background: #61A9CF;
    height: 300px;
    padding:2px;
}

.board-editor .module{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    top:0;
    left:0;
    background-color: white;
    border: 1px solid gray;
    padding: 2px;
}

